---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$light-gray:     #F7F7F7;
$navy-blue:      #003863;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    90%;

$on-palm:          100%;
$on-laptop:        80%;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

// Bootstrap styling
    
@import "bootstrap";

// Custom SASS
Logo
#logo-div {
  float: left;
}

#logo-col {
	//height: 150px;
}

#slideshow-img {
	//max-width: 100%;
	//height: auto;
}

#slideshow2-col,
#slideshow3-col {
	text-align: center;	
}

#slideshow2-img {
	display: inline-block;
	margin-top: 15%;
}

#slideshow3-img {
	display: inline-block;
	margin-top: 20%;
}

#logo {
  	height: 125px;
	max-width: 100%;
	margin-top: 5%;
}

#slideshow-nav {
	font-size: 1em;
	@media screen and (max-width: 1440px) {
		font-size: 0.8em;
	}
}

.slideshow-nav-element {
	display: inline-block;
	color: #b3c9ec;
	width: 100%;
	height: 45px;
	padding-left: 18px;
	padding-top: 12px;
	padding-bottom: 3px;
	text-transform: uppercase;
	a {
		color: #b3c9ec;	
	}
	a:visited {
		color: #b3c9ec;	
	}
}

#content1 #membership {
	a {
		color: white;	
	}
	a:visited {
		color: white;	
	}
}

#content2 #spotlight {
	a {
		color: white;	
	}
	a:visited {
		color: white;	
	}
}

#content3 #depot {
	a {
		color: white;	
	}
	a:visited {
		color: white;	
	}
}

#content4 #insights {
	a {
		color: white;	
	}
	a:visited {
		color: white;	
	}
}

#content5 #sog {
	a {
		color: white;	
	}
	a:visited {
		color: white;	
	}
}

#membership {
	display: inline-block;
	color: white;
}

#slideshow-header {
	font-size: 1.5em;
	padding-bottom: 12px;
	@media screen and (max-width: 1440px) {
		font-size: 1.2em;
	}
}

#slideshow-text {
	padding-bottom: 12px;
	@media screen and (max-width: 1440px) {
		font-size: 0.9em;
	}
}

#top-nav-div {
	padding-right: 0px;
}

// content boxes on home page
#natfundalert,
#regfundalert,
#fedfundalert,
#gsinsights,
#talk2020,
#memberlogin,
#online-education,
#free-newsletters {
	background-color: white;
	padding-bottom: 12px;
	border: 1px solid #e1e1e1;
	margin-top: 12px;
}

#online-education {
	background-color: #b3c9ec;
}

.header {
	color: #003863;
	text-transform: uppercase;
	font-size: 1.125em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	border-bottom: 1px solid #e1e1e1;
	background-color: #EBEBEB;
	padding: 6px;
	height: 38px;
}

// view all boxes
.view-all-whatever {
	font-size: 0.7em;
	text-transform: initial;
	padding-right: 6px;
	border: 1px solid #e1e1e1;
	background-color: #f1f1f1;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 6px;
	padding-right: 6px;
	display: block;
	a {
	color: #c03c03;
	text-decoration: none;
	}
	a:visited {
	color: #c03c03;
	text-decoration: none;
	}
}

// arrow next to 'view all' in content area
.right-arrow {
	float:right;
	:hover {
		background-color: #d3d3d3;
	}
	.fa {
		color: #c03c03;
	}
}

// arrow next to view all in content area
.fa-arrow-circle-right {
	color: #c03c03;
}

// Styling for div around images in content area - NOT USED
.box-image {
	text-align: center;
	clear: both;
	padding-top: 25px;
	padding-bottom: 25px;
	max-width: 100%;
}

// Alternative styling for images to right of dates
.box-image-sub {
	padding-top: 15px;
	padding-bottom: 25px;
	text-align: left;
}

// Alternative styling for Invisible Yellow Line
.box-image-sub-2 {
	margin-left: 7.5%;
	padding-top: 15px;
	padding-bottom: 25px;
}

// Alternative styling for 'Elevate'
.box-image-sub-3 {
	margin-left: 5%;
	padding-top: 15px;
	padding-bottom: 25px;
}

// Make top three images in content area smaller
#rwj-img img,
#osf-img img,
#afcf-img img {
	width: 50%;
}

// Old style used with box around image in content area - NOT USED
.box-image-large img {
	width: 250px;
	height: 190px;
	padding-left: 18px;
	margin-top: 45%;
	@media screen and (max-width: 1440px) {
		height: 140px;
	}
}

// Old style used with box around image in content area - NOT USED
.box-image-medium {
	width: 250px;
	padding-left: 18px;
	margin-top: 40%;
	@media screen and (max-width: 1440px) {
		
	}
}

// Div around username in login area
#usernamediv {
	padding-top: 12px;
}

// Div around password in login area
#passworddiv {
	padding-top: 44px;
}

// Date formatting in content area
.date {
	margin-left: 5%;
	float: left;
	margin-top: 1.5%;
	width: 20%;
}

// substitute date (used for date to left of image) - used on RWJ and OSF
.date-sub {
	margin-left: 12%;
	margin-top: 20%;
}

// Alternative date placement - used by Children & Families
.date-sub-2 {
	margin-left: 12%;
	margin-top: 10%;
}

// Alternative date placement - used by the Invisible Yellow Line
.date-sub-3 {
	margin-left: 12%;
	margin-top: 27.5%;
}

// Alternative date placement - used by 'Elevate'
.date-sub-4 {
	margin-left: 12%;
	margin-top: 15%;
}

.nodetitle {
	float: right;
	margin-right: 5%;
	margin-top: 1%;
	padding-left: 12px;
	padding-right: 12px;
	font-size: 1.3em;
	width: 70%;
}

.nodetitle-sub {
	clear: both;
	margin-right: 5%;
	margin-top: 1%;
	margin-bottom: 1%;
	padding-left: 12px;
	padding-right: 12px;
	font-size: 1.3em;
	width: 100%;
	text-align: center;
}

.nodetext {
	margin-left: 5%;
	margin-right: 5%;
}

#hamburger {
	text-align: right;
}

#tagline {
	font-style: italic;
	text-align: center;
	font-size: 1.2em;
	margin-top: 3%;
	height: 30px;
	@media screen and (max-width: 1440px) {
		font-size: 0.9em;
	}
}

#sub-nav-row {
	text-align: right;
}

#nav-div2 {
	padding-top: 1%;
	display: inline-block;
	white-space: nowrap;
	a {
		color: #c03c03;
	}
	@media all and (max-width: 815px) {
		white-space: normal;
	}
}

#nav-div {
	margin-top: 18%;
	text-align: right;
}

#sub-nav-div2 {
	display: inline-block;
	background-color: #c03c03;
	padding: 6px;
	margin-top: 3%;
}

.nav-div2-link {
	margin-right: 24px;
	display: inline-block;
	margin-left: 12px;
	font-size: 1.1em;
	@media screen and (max-width: 1440px) {
		font-size: 0.8em;
	}
	font-family: 'Open Sans', sans-serif;
}

#pubresources {
	font-size: 1.1em;
	margin-left: 12px;
	font-family: 'Open Sans', sans-serif;
	@media screen and (max-width: 1440px) {
		font-size: 0.8em;
	}
}

$new-orange: lighten(#c03c03, 18);

#join {
	background-color: white;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 6px;
	display: inline-block;
	margin-right: 24px;
	font-size: 1.1em;
	@media screen and (max-width: 1440px) {
		font-size: 0.8em;
	}
}

#tagline-intro {
	color: black;
	font-weight: bold;
}

#tagline-ending {
	color: #003863;
	font-weight: bold;
}

#find,
#build,
#write {
	color: white;
}

#pubresources {
	a {
		color: #002A4A;
		text-decoration: none;
	}
	a: visited {
		color: #002A4A;
		text-decoration: none;
	}
	a: hover {
		text-decoration: none;
	}
}

.site-nav {
	text-align: right;
	//height: 50px;
	padding-bottom: 0px;
	@media screen and (max-width: 1440px) {
		font-size: 0.7em;
	}
}

a {
	color: blue;
	text-decoration: none;
	a:hover {
		text-decoration: none;
		color: #003863;
	}
}

.site-nav a {
	color: #003863;
}

#join a,
#join a:visited {
	color: #c03c03;
	font-weight: bold;
	font-size: 1.3em;
	text-decoration: none;
}

#find a,
#write a,
#build a {
	text-decoration: none;
	color: white;		
}

#find a:visited,
#write a:visited,
#build a:visited {
	text-decoration: none;
	color: white;		
}

.left-element {
	text-align: left;
	padding-left: 6%;
}

#username {
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	margin-top: 6px;
	display: inline-block;
	margin-bottom: 6px;
	padding-top: 6px;
}

#password {
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	margin-top: 6px;
	display: inline-block;
	margin-bottom: 6px;
}

#forgot-your-login {
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	font-size: 0.8em;
	margin-top: 6px;
	display: inline-block;
	margin-bottom: 6px;
	padding-bottom: 6px;
}

.webinar {
	margin-top: 12px;
	margin-bottom: 12px;
}

.webinar-title {
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	width: 60%;
	font-size: 1.2em;
	margin-left: 24px;
	margin-top: 6px;
}

.webinar-title a,
.webinar-title a:visited,
.ondemand-title a,
.ondemand-title a:visited {
	color: #003863;
}

.ondemand-title {
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	margin-right: 24px;
	font-size: 1.2em;
	margin-left: 24px;
	margin-top: 6px;
}

.webinar-date {
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	width: 20%;
	text-align: right;
	margin-right: 24px;
	float: right;
	margin-top: 6px;
}

#insider-logo {
	margin-top: 3%;
}

#sign-up-announce {
	padding-top: 18px;
	padding-bottom: 18px;
	text-align: left;
	padding-left: 24px;
	padding-right: 24px;
	font-family: 'Open Sans', sans-serif;
}

#news-checkbox {
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	padding-left: 12px;
	padding-right: 12px;
	font-size: 1em;
	@media screen and (max-width: 1440px) {
		font-size: 0.8em;
	}
}

.c-checkbox {
	padding-left: 24px;
	padding-right: 24px;
	display: inline-block;
	input {

	}
}

.view-most-recent {
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	padding-left: 54px;
	padding-right: 54px;
	font-size: 1em;
	@media screen and (max-width: 1440px) {
		font-size: 0.8em;
	}
}

#email-address {
	margin-top: 12px;
}

#in-banner {
	width: 100%;
	margin-top: 1%;
	display: block;
}

#content1 #membership {
	background-image: url("../assets/arrow-trans.png");
	background-size: 90%;
	background-repeat: no-repeat;
}

#content2 #spotlight {
	background-image: url("../assets/arrow-trans.png");
	background-size: 90%;
	background-repeat: no-repeat;
}

#content3 #depot {
	background-image: url("../assets/arrow-trans.png");
	background-size: 90%;
	background-repeat: no-repeat;
}

#content4 #insights {
	background-image: url("../assets/arrow-trans.png");
	background-size: 90%;
	background-repeat: no-repeat;
}

#content5 #sog {
	background-image: url("../assets/arrow-trans.png");
	background-size: 90%;
	background-repeat: no-repeat;
}

#footer-nav {
	font-family: 'Open Sans', sans-serif;
	padding-top: 18px;
	padding-bottom: 6px;
}

#connectwithus {
	font-size: 1.4em;
	font-family: 'Open Sans', sans-serif;
	padding-top: 6px;
	padding-bottom: 6px;
}

#social-media-icons {
	padding-top: 6px;
	padding-bottom: 6px;
}

.fa {
	color: white;
}

#facebook,
#linkedin {
	margin-right: 1%;
	display: inline-block;
}

#copyright {
	padding-top: 6px;
	padding-bottom: 18px;	
	font-family: 'Open Sans', sans-serif;
}
