<footer class="site-footer">

  <div class="footer-wrapper">

JOIN | Find Grantmakers | Build Strategy | Write Proposals | Public Resources

connect with us:

{% if site.facebook_username %}
    <a href="https://www.facebook.com/{{ site.facebook_username }}">
      <i class="fa fa-facebook"></i>
    </a>
{% endif %}

    <a href="https://linkedin.com/{{ site.linkedin_username }}">
      <i class="fa fa-linkedin"></i>
    </a>

{% if site.twitter_username %}
    <a href="https://twitter.com/{{ site.twitter_username }}">
      <i class="fa fa-twitter"></i>
    </a>
{% endif %}

Copyright statement

  </div>

</footer>
