<header class="site-header">

	<div class="headerwrapper">

		<div class="row">
			<div class="col-lg-4 col-xs-12" id="logo-col">
				<div id="logo-div">
				<a class="site-title" href="{{ site.baseurl }}/"><img src="/assets/GrantStation_slogan_trans.png" id="logo" title="GrantStation.com" /></a>
				</div>
			</div>

			<div class="col-lg-8 col-xs-12">
				<div class="row">

					<div class="col-lg-12" id="top-nav-div">
<div class="row">
<div class="col-lg-12" id="nav-div-col">
						<div id="nav-div">
								<span class="top-top-nav-link"><a href="">Welcome Cynthia!</a></span>
								<span class="top-top-nav-link"><a href="">My Dashboard</a></span>
								<span class="top-top-nav-link"><a href="">Home</a></span>
								<span class="top-top-nav-link"><a href="">About</a></span>
								<span class="top-top-nav-link"><a href="">Contact</a></span>
								<span class="top-top-nav-link"><a href="">Help</a></span>
								<span class="top-top-nav-link"><a href="">My Cart</a></span>
								<span class="top-top-nav-link"><a href="">Logout</a></span>
						</div>
</div>
</div>
<div class="row">
<div class="col-lg-12">
					<div id="tagline">
			   		<span id="tagline-intro">"Helping our Members connect with</span> <span id="tagline-ending"> the right grantmakers since 1999."</span>
			  		</div>
			  		</div>

					</div>
 
		      		<div class="row" id="sub-nav-row">
<div class="col-lg-12" id="sub-nav2-col">
		       			<div id="nav-div2">
					<div id="sub-nav-div2">
					<span class="nav-div2-link" id="join"><a href="" title="Renew your membership to GrantStation.com">RENEW</a></span>
					<span class="nav-div2-link" id="find"><a href="" title="Find grantmakers (members only)">FIND GRANTMAKERS</a></span>
					<span class="nav-div2-link" id="build"><a href="" title="Build your grantseeking strategy (members only)">BUILD STRATEGY</a></span>
					<span class="nav-div2-link" id="write"><a href="" title="Write your grantseeking proposals (members only)">WRITE PROPOSALS</a></span>
					</div>
<div id="comm-resources">					
<span id="pubresources"><a href="" title="Community resources">COMMUNITY RESOURCES</a>&nbsp;&nbsp;&nbsp;<span id="divider">|</span></span>
</div>
<div id="part-programs-div">
<span id="partprograms"><a href="" title="Partner Programs">PARTNER PROGRAMS</a></span>
</div>
		       			</div>
		      		</div>

			</div>
    		</div>

	</div>

</header>
