<header class="site-header">

	<div class="headerwrapper">

		<div class="row">
			<div class="col-md-4" id="logo-col">
				<div id="logo-div">
				<a class="site-title" href="{{ site.baseurl }}/"><img src="/assets/GrantStation_slogan_trans.png" id="logo" title="GrantStation.com" /></a>
				</div>
			</div>

			<div class="col-md-8">
				<div class="row">

					<div class="col-md-12" id="top-nav-div">
<div class="row">
<div class="col-md-10">
					<div id="tagline">
			   		<span id="tagline-intro">"Helping grantseekers connect with</span> <span id="tagline-ending"> the right grantmakers since 1999."</span>
			  		</div>
</div>
<div class="col-md-2">
						<div id="nav-div">
<i class="fa fa-bars" aria-hidden="true" style="color: #003863; font-size: 1.8em;"'></i>
						</div>
</div>
</div>
			  		</div>

					</div>
 
		      		<div class="row" id="sub-nav-row">
		       			<div id="nav-div2">
					<div id="sub-nav-div2">
					<span class="nav-div2-link" id="join"><a href="" title="Get a membership to GrantStation.com">JOIN</a></span>
					<span class="nav-div2-link" id="find"><a href="" title="Find grantmakers (members only)">FIND GRANTMAKERS</a></span>
					<span class="nav-div2-link" id="build"><a href="" title="Build your grantseeking strategy (members only)">BUILD STRATEGY</a></span>
					<span class="nav-div2-link" id="write"><a href="" title="Write your grantseeking proposals (members only)">WRITE PROPOSALS</a></span>
					</div>
					<span id="pubresources"><a href="" title="Public resources">PUBLIC RESOURCES</a></span>
		       			</div>
		      		</div>

			</div>
    		</div>

	</div>

</header>
