<header class="site-header">

	<div class="headerwrapper">

		<div class="row">
			<div class="col-md-4" id="logo-col">
				<div id="logo-div">
				<a class="site-title" href="{{ site.baseurl }}/"><img src="/assets/GrantStation_slogan_trans.png" id="logo" title="GrantStation.com" /></a>
				</div>
			</div>

			<div class="col-md-8">
				<div class="row">

					<div class="col-md-12">
						<div id="nav-div">
							<nav class="site-nav">
							{% for my_page in site.pages %}
							{% if my_page.title %}
							<a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
							{% endif %}
							{% endfor %}
							</nav>
						</div>
			  		</div>

					</div>

					<div class="row">
					<div id="tagline">
			   		<span id="tagline-intro">We help grantseekers connect with the right grantmakers</span> <span id="tagline-ending"> for making your projects and programs successful.</span>
			  		</div>
					</div>
 
		      		<div class="row">
		       			<div id="nav-div2">
					<div id="sub-nav-div2">
					<span class="nav-div2-link" id="join"><a href="">JOIN</a></span>
					<span class="nav-div2-link" id="find"><a href="">FIND GRANTMAKERS</a></span>
					<span class="nav-div2-link" id="build"><a href="">BUILD STRATEGY</a></span>
					<span class="nav-div2-link" id="write"><a href="">WRITE PROPOSALS</a></span>
					</div>
					<span id="pubresources" id="pub"><a href="">PUBLIC RESOURCES</a></span>
		       			</div>
		      		</div>

			</div>
    		</div>

	</div>

</header>
