<div class="slideshow-content" id="content1">
  <div class="slideshow">

    	<div class="row">

<ul id="slideshow">

<li><a href="index.html"><img src="/assets/1.jpg" width="600" height="310" alt="" id="image1" /><div class="slider-bg"></div><div class="slider-info"><strong>Sizzlin' Summer Sale</strong><p class="slider-text">Now is the time to make hay while the sun shines by getting your share of grant awards!
- $149 for one year Membership
- $249 for two years.
Includes free webinar: Building a Stellar Grantseeking Team.</p></div></a></li>
<li><a href="#nat-fund-alert"><img src="/assets/2.jpg" width="600" height="310" alt="" id="image2" /><div class="slider-bg"></div><div class="slider-info"><strong>Funding Alerts</strong><p class="slider-text">Check out timely grant opportunities on clinical care, civil society networks, human trafficking, and tree planting.These are just samples of the thousands of searchable grantmaker profiles available to Members!</p></div></a></li>
<li><a href="index3.html"><img src="/assets/3.jpg" width="600" height="310" alt="" id="image3" /><div class="slider-bg"></div><div class="slider-info"><strong>Are you Looking for Grantwriting Support in 2016?</strong><p class="slider-text">Elevate works with effective and ambitious nonprofits of all sizes to make life easier for their leaders, improve their program outcomes, and build more sustainable organizations capable of doing the hard, day-to-day work of meaningful social change. </p></div></a></li>
<li><a href="index2.html"><img src="/assets/4.jpg" width="600" height="310" alt="" id="image4" /><div class="slider-bg"></div><div class="slider-info"><strong>What Makes Wealthy Donors Tick?</strong><p class="slider-text">To fundraisers who work with major donors, these profiles of budding philanthropists will probably ring a bell.</p></div></a></li>
		</ul>

	</div>

  </div>
</div>
