<div class="slideshow-content" id="content4">
  <div class="slideshow">

    	<div class="row">

		<div class="col-md-3">
		<div id="slideshow-nav">
		<span id="membership" class="slideshow-nav-element"><a href="index.html">Membership</a></span><br />
		<span class="slideshow-nav-element"><a href="spotlight.html">Webinar Spotlight</a></span><br />
		<span class="slideshow-nav-element" id="depot"><a href="depot.html">Partner Depot</a></span><br />
		<span class="slideshow-nav-element" id="insights"><a href="insights.html">GS Insights</a></span><br />
		<span class="slideshow-nav-element" id="sog"><a href="sog.html">State of Grantseeking</a></span><br />
		</div>
		</div>

		<div class="col-md-4" id="slideshow4-col">
		<img src="/assets/donate_detective.png" id="slideshow4-img" title="GS Insights" />
		</div>

		<div class="col-md-5">
		<div id="slideshow-content">
		<div id="slideshow-header">Where Should you Donate?</div>
		<div id="slideshow-text">Recently, the misdeeds of some foundations have been making the news. Jared Fogle, who became a Subway spokesman after losing weight eating their sandwiches, was all over the news after his home was raided by the FBI and he was charged with possession of child pornography.

</div>
		<p id="learnmore"><a href="">Learn More</a></p>
		</div>
		</div>

	</div>

  </div>
</div>
