    	<div class="row">

		<div class="col-md-3">
		<div id="slideshow-nav">
		<span id="membership" class="slideshow-nav-element"><a href="index.html">Member Benefits</a></span><br />
		<span class="slideshow-nav-element" id="summer-sale"><a href="summer-sale.html">Summer Sale</a></span><br />
		<span class="slideshow-nav-element"><a href="spotlight.html">Webinar Spotlight</a></span><br />
		<span class="slideshow-nav-element"><a href="depot.html">Partner Promotion</a></span><br />
		<span class="slideshow-nav-element" id="sog"><a href="sog.html">State of Grantseeking</a></span><br />
		</div>
		</div>

		<div class="col-md-4">
		<img src="/assets/startup-photos.jpg" id="slideshow-img" title="People hard at work using GrantStation.com" />
		</div>

		<div class="col-md-5">
		<div id="slideshow-content">
		<div id="slideshow-header">Benefits of Membership</div>
		<div id="slideshow-text">Get the tools and information you need to secure your funding this year and beyond!<br />
- FIND the right grantmakers with our searchable listings.<br />
- BUILD a strong grant strategy with our tools.<br />
- WRITE winning grant proposals with our tutorials.<br />
Join GrantStation today to power your projects!
</div>
		<p id="learnmore"><a href="">Learn More</a></p>
		</div>
		</div>

	</div>
