<div class="slideshow-content">
  <div class="slideshow">

    	<div class="row">

		<div class="col-md-3">
		Membership<br />
		Webinar Spotlight<br />
		Partner Depot<br />
		GS Insights<br />
		State of Grantseeking<br />
		</div>

		<div class="col-md-4">
		<img src="/assets/startup-photos.jpg" />
		</div>

		<div class="col-md-5">
		<div id="slideshow-header">Give your membership the tools to build their grants program.</div>
		<div id="slideshow-text">We are dedicated to creating a civil society by assisting the nonprofit sector.</div>
		<button type="button" value="Learn More">
		</div>

	</div>

  </div>
</div>
